@keyframes textColorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-text {
  background-size: 200% 200%;
  animation: textColorChange 5s ease infinite;
}

.relative {
  position: relative;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%; /* Position submenu below the parent */
  left: 0; /* Align submenu to the left of the parent */
  z-index: 50; /* Ensure it appears above other content */
  background: inherit; /* Ensure the background matches the theme */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.submenu-item {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.submenu-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Hover background color */
  color: #1d4ed8; /* Hover text color */
}


.search-container {
  position: relative;
}

.search-input-wrapper {
  opacity: 1;
  width: auto;
  display: flex;
  align-items: center;
}

.search-input-wrapper .search-input {
  width: 0;
  max-width: 0;
  transition: width 0.3s ease, max-width 0.3s ease;
}

.search-container:hover .search-input-wrapper .search-input {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

.search-input {
  padding-left: 40px; /* Adjust to fit the icon inside the input */
}

.search-input::placeholder {
  color: gray; /* Placeholder color */
}

.search-input-wrapper::before {
  content: '';
  position: absolute;
  left: 10px; /* Adjust based on padding-left of input */
  font-size: 16px; /* Adjust icon size */
  color: gray; /* Icon color */
}

.search-input-wrapper .search-input {
  padding-left: 40px; /* Ensure there's space for the icon */
}

/* Ensure the search input is always visible on mobile devices */
@media (max-width: 768px) {
  .search-input-wrapper {
    opacity: 1;
    width: auto;
  }

  .search-input {
    width: 100%;
    max-width: none;
  }
}


.menu-item {
  display: flex;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-item .icon {
  margin-right: 0.5rem; /* Space between icon and text */
}
